@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px){
  body {
    background-image: linear-gradient(to top, var(--verde), var(--lilas));
  }

  main > section#login {
    width: 80vw;    
    
    div#image {
      float: left;
      width: 30%;
      height: 100%;
    }
    
    div#form {
      float: right;
      width: 70%;
      height: 100%;
    }    
  }
}

@media screen and (min-width: 993px) {
  body {
    background-image: linear-gradient(to top, var(--verde), var(--lilas));
  }

  main > section#login {
    width: 950px;

    div#image {
      float: left;
      width: 50%;
      height: 100%;
    }

    div#form {
      float: right;
      width: 50%;
      height: 100%;
    }
  }
}